body, html{
	height: 100%
	margin: 0;
}
.bg{
	background-image: url(https://i.ibb.co/zxktnwn/image-2.png);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	-webkit-background-size: cover;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: -5px;
}
.richcholo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
table, th, td{
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font: caption;
}
a{
	color: white;
	text-decoration: none;
}
p{
	text-align: center;
}